In [6]:
import pandas as pd
import re
pd.set_option('display.max_columns',10)
pd.set_option('display.max_rows',20)

In [7]:
from matplotlib import pyplot as plt

In [8]:
file_Df = pd.read_csv('imdb_boxOffice.csv')

In [9]:
file_Df

,Position,Title,Rating,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross
0,1,The Shawshank Redemption(1994),9.3,"$25,000,000","$727,327","$28,699,976","$28,817,291"
1,2,The Godfather(1972),9.2,"$6,000,000","$302,393","$134,966,411","$246,120,986"
2,4,The Dark Knight(2008),9.0,"$185,000,000","$158,411,483","$534,858,444","$1,005,973,645"
3,3,The Godfather: Part II(1974),9.0,"$13,000,000","$171,417","$47,834,595","$48,035,783"
4,5,12 Angry Men(1957),9.0,"$350,000",NaN,NaN,$955
...,...,...,...,...,...,...,...
245,231,Rocky(1976),8.1,"$960,000",NaN,"$117,235,147","$117,250,382"
246,225,Life of Brian(1979),8.1,"$4,000,000","$140,034","$20,206,622","$20,742,331"
247,216,Logan(2017),8.1,"$97,000,000","$88,411,916","$226,277,068","$619,179,950"
248,153,"Three Billboards Outside Ebbing, Missouri(2017)",8.1,"$15,000,000","$322,168","$54,513,740","$160,192,267"
249,209,Harry Potter and the Deathly Hallows: Part 2(2...,8.1,"$125,000,000","$169,189,427","$381,409,310","$1,342,321,665"

In [10]:
#TO GET THE YEAR FROM EACH TITLE 
def getYear(title:str) -> str:
    pattern = re.compile(r"\(\d+\)")
    data = pattern.search(title)
    return data.group(0).strip("()")

In [11]:
getYear('Three Billboards Outside Ebbing, Missouri(2017)')

'2017'

In [12]:
file_Df[["Title","Year"]] = file_Df.Title.str.extract(r"(.*)(\(\d+\))",expand=True)

In [13]:
file_Df["Year"] = file_Df["Year"].apply(lambda x: int(x.strip("()")))

In [14]:
file_Df

,Position,Title,Rating,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross,Year
0,1,The Shawshank Redemption,9.3,"$25,000,000","$727,327","$28,699,976","$28,817,291",1994
1,2,The Godfather,9.2,"$6,000,000","$302,393","$134,966,411","$246,120,986",1972
2,4,The Dark Knight,9.0,"$185,000,000","$158,411,483","$534,858,444","$1,005,973,645",2008
3,3,The Godfather: Part II,9.0,"$13,000,000","$171,417","$47,834,595","$48,035,783",1974
4,5,12 Angry Men,9.0,"$350,000",NaN,NaN,$955,1957
...,...,...,...,...,...,...,...,...
245,231,Rocky,8.1,"$960,000",NaN,"$117,235,147","$117,250,382",1976
246,225,Life of Brian,8.1,"$4,000,000","$140,034","$20,206,622","$20,742,331",1979
247,216,Logan,8.1,"$97,000,000","$88,411,916","$226,277,068","$619,179,950",2017
248,153,"Three Billboards Outside Ebbing, Missouri",8.1,"$15,000,000","$322,168","$54,513,740","$160,192,267",2017
249,209,Harry Potter and the Deathly Hallows: Part 2,8.1,"$125,000,000","$169,189,427","$381,409,310","$1,342,321,665",2011

In [15]:
imdb_df = file_Df.sort_values(by="Position",ascending=True)

In [16]:
imdb_df

,Position,Title,Rating,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross,Year
0,1,The Shawshank Redemption,9.3,"$25,000,000","$727,327","$28,699,976","$28,817,291",1994
1,2,The Godfather,9.2,"$6,000,000","$302,393","$134,966,411","$246,120,986",1972
3,3,The Godfather: Part II,9.0,"$13,000,000","$171,417","$47,834,595","$48,035,783",1974
2,4,The Dark Knight,9.0,"$185,000,000","$158,411,483","$534,858,444","$1,005,973,645",2008
4,5,12 Angry Men,9.0,"$350,000",NaN,NaN,$955,1957
...,...,...,...,...,...,...,...,...
130,246,Mandariinid,8.2,"EUR650,000","$5,180","$144,501","$1,024,132",2013
136,247,Drishyam,8.2,"$9,400,000",NaN,NaN,NaN,2015
184,248,La battaglia di Algeri,8.1,"$800,000","$64,870","$879,794","$964,028",1966
134,249,"Swades: We, the People",8.2,NaN,"$424,804","$1,223,240","$1,953,889",2004
200,250,Song of the Sea,8.1,"EUR5,300,000","$21,910","$857,522","$4,190,884",2014

In [17]:
imdb_na = imdb_df.dropna(how='all')

In [18]:
imdb_na

,Position,Title,Rating,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross,Year
0,1,The Shawshank Redemption,9.3,"$25,000,000","$727,327","$28,699,976","$28,817,291",1994
1,2,The Godfather,9.2,"$6,000,000","$302,393","$134,966,411","$246,120,986",1972
3,3,The Godfather: Part II,9.0,"$13,000,000","$171,417","$47,834,595","$48,035,783",1974
2,4,The Dark Knight,9.0,"$185,000,000","$158,411,483","$534,858,444","$1,005,973,645",2008
4,5,12 Angry Men,9.0,"$350,000",NaN,NaN,$955,1957
...,...,...,...,...,...,...,...,...
130,246,Mandariinid,8.2,"EUR650,000","$5,180","$144,501","$1,024,132",2013
136,247,Drishyam,8.2,"$9,400,000",NaN,NaN,NaN,2015
184,248,La battaglia di Algeri,8.1,"$800,000","$64,870","$879,794","$964,028",1966
134,249,"Swades: We, the People",8.2,NaN,"$424,804","$1,223,240","$1,953,889",2004
200,250,Song of the Sea,8.1,"EUR5,300,000","$21,910","$857,522","$4,190,884",2014

In [19]:
imdb_na[["Budget","Cumulative Worldwide Gross"]]

            Budget Cumulative Worldwide Gross
0     $25,000,000                $28,817,291
1      $6,000,000               $246,120,986
3     $13,000,000                $48,035,783
2    $185,000,000             $1,005,973,645
4        $350,000                       $955
..             ...                        ...
130     EUR650,000                $1,024,132
136    $9,400,000                         NaN
184      $800,000                   $964,028
134            NaN                $1,953,889
200   EUR5,300,000                $4,190,884

[250 rows x 2 columns]

In [20]:
imdb_na.drop(imdb_na[(imdb_na["Budget"].isna() | (~imdb_na["Budget"].str.startswith('$',na=False))) ].index,inplace=False)

,Position,Title,Rating,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross,Year
0,1,The Shawshank Redemption,9.3,"$25,000,000","$727,327","$28,699,976","$28,817,291",1994
1,2,The Godfather,9.2,"$6,000,000","$302,393","$134,966,411","$246,120,986",1972
3,3,The Godfather: Part II,9.0,"$13,000,000","$171,417","$47,834,595","$48,035,783",1974
2,4,The Dark Knight,9.0,"$185,000,000","$158,411,483","$534,858,444","$1,005,973,645",2008
4,5,12 Angry Men,9.0,"$350,000",NaN,NaN,$955,1957
...,...,...,...,...,...,...,...,...
239,235,Rebecca,8.1,"$1,288,000",NaN,NaN,"$72,275",1940
195,236,Before Sunset,8.1,"$2,700,000","$219,425","$5,820,649","$15,936,507",2004
198,244,It Happened One Night,8.1,"$325,000",NaN,NaN,NaN,1934
136,247,Drishyam,8.2,"$9,400,000",NaN,NaN,NaN,2015
184,248,La battaglia di Algeri,8.1,"$800,000","$64,870","$879,794","$964,028",1966

In [21]:
imdb_budget = imdb_na.drop(imdb_na[(imdb_na["Budget"].isna() | (~imdb_na["Budget"].str.startswith('$',na=False))) ].index,inplace=False)

In [36]:
imdb_budget.drop(["Opening Weekend USA","Gross USA","Cumulative Worldwide Gross"],axis=1,inplace=True) #Dropping unwanted columns

KeyError: "['Opening Weekend USA' 'Gross USA' 'Cumulative Worldwide Gross'] not found in axis"

In [37]:
imdb_budget["Budget"] = imdb_budget["Budget"].str.replace("$","")

In [38]:
imdb_budget["Budget"] = imdb_budget["Budget"].str.replace(",","")

In [54]:
imdb_two = imdb_budget[imdb_budget["Year"] >= 2000 ]

In [43]:
imdb_ninety = imdb_budget[imdb_budget["Year"] < 2000]

In [46]:
"""The average budget of both movies released before 2000s and after 2000s are """

'The average budget of both movies released before 2000s and after 2000s are '

In [52]:
imdb_ninety["Budget"].astype("int").mean() #meaning avg budget of movies relased in 2000s was $68,757,692

68757692.3076923

In [55]:
imdb_two["Budget"].astype("int").mean() #avg budget of movies released in 2000s uptil now is 15,323,432

68757692.3076923