In [9]:
import pandas as pd
import re

In [8]:
from matplotlib import pyplot as plt

In [4]:
file_Df = pd.read_csv('imdb_boxOffice.csv')

In [5]:
file_Df

,Position,Title,Rating,Budget,Opening Weekend USA,Gross USA,Cumulative Worldwide Gross
0,1,The Shawshank Redemption(1994),9.3,"$25,000,000","$727,327","$28,699,976","$28,817,291"
1,2,The Godfather(1972),9.2,"$6,000,000","$302,393","$134,966,411","$246,120,986"
2,4,The Dark Knight(2008),9.0,"$185,000,000","$158,411,483","$534,858,444","$1,005,973,645"
3,3,The Godfather: Part II(1974),9.0,"$13,000,000","$171,417","$47,834,595","$48,035,783"
4,5,12 Angry Men(1957),9.0,"$350,000",NaN,NaN,$955
...,...,...,...,...,...,...,...
245,231,Rocky(1976),8.1,"$960,000",NaN,"$117,235,147","$117,250,382"
246,225,Life of Brian(1979),8.1,"$4,000,000","$140,034","$20,206,622","$20,742,331"
247,216,Logan(2017),8.1,"$97,000,000","$88,411,916","$226,277,068","$619,179,950"
248,153,"Three Billboards Outside Ebbing, Missouri(2017)",8.1,"$15,000,000","$322,168","$54,513,740","$160,192,267"
249,209,Harry Potter and the Deathly Hallows: Part 2(2...,8.1,"$125,000,000","$169,189,427","$381,409,310","$1,342,321,665"

In [6]:
#TO GET THE YEAR FROM EACH TITLE 
def getYear(title:str) -> str:
    pattern = re.compile(r"\(\d+\)")
    data = pattern.search(title)
    return data.group(0).strip("()")

In [10]:
getYear('Three Billboards Outside Ebbing, Missouri(2017)')

'2017'

In [16]:
file_Df[["Title","Year"]] = file_Df.Title.str.extract(r"(.*)(\(\d+\))",expand=True)

In [21]:
file_Df["Year"] = file_Df["Year"].apply(lambda x: int(x.strip("()")))

In [23]:
file_Df.dtypes

Position                        int64
Title                          object
Rating                        float64
Budget                         object
Opening Weekend USA            object
Gross USA                      object
Cumulative Worldwide Gross     object
Year                            int64
dtype: object